<h2>user login page</h2>
<form class="new-user">
  <div class="row">
    <div class="four columns">
      <input type="text" name="user[local][name]" id="user-name" placeholder="Name" class="u-full-width">
    </div>
    <div class="four columns">
      <input type="number" name="user[local][age]" id="user-age" placeholder="Age" class="u-full-width">
    </div>
    <div class="four columns">
      <input type="text" name="user[local][password]" id="user-password" placeholder="Password" class="u-full-width">
    </div>
    <input type="submit" value='Submit'>
  </div>

</form>

<% if(message.length > 0) { %>
  <h2>FLASH FOUND</h2>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>
